html, body{
    /*
    margin: 0;
    padding: 0;
    */
}
.coloring{background-color: yellow; box-sizing: border-box; margin: 0 auto; align-items: top;/*수직정렬 탑*/} 
.coloring .item{background-color: blue; text-align: center;}
.coloring .item:nth-child(7n+1){background-color:lightblue;}
.coloring .item:nth-child(7n+2){background-color:orange;}
.coloring .item:nth-child(7n+3){background-color:darkgray;}
.coloring .item:nth-child(7n+4){background-color:coral;}
.coloring .item:nth-child(7n+5){background-color:pink;}
.coloring .item:nth-child(7n+6){background-color:khaki;}
.coloring .item:nth-child(7n+7){background-color:lightslategray;}
.spacer{
    flex-basis: 100%;
    height: 0;
}

.grid{
    width: 450px;
    height: 300px;
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-rows: 60px auto 30px;
    gap: 10px 30px;
    margin: 0 auto;
}
.grid .item{
    background-color: #a99;
}