html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
}
h1{
    color: #a00;
    background-color: #f0f0f0;
}
.content{
}
.layout{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
}
article{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ffe0e0;
}
aside{
    flex-basis: 160px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #f0f0ff;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 10px 10px 0 10px;
    background-color: #f0f0f0;
}
.item{
    min-height: 150px;
    flex-basis: 150px;/*23.5%*/
    margin-bottom: 10px;
    flex-shrink: 1;
    flex-grow: 1;
}

@media screen and (max-width:1023px){
    .item{
        flex-basis: 49%;
    }
}
@media screen and (max-width:767px){
    .item{
        flex-basis: 100%;
    }
}

.item:nth-child(1){background-color:lightblue;}
.item:nth-child(2){background-color:orange;}
.item:nth-child(3){background-color:darkgray;}
.item:nth-child(4){background-color:coral;}

.flexbox2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.flexbox2 > *{
    min-height: 300px;
    background-color: #eff;
}

.flexbox3 .card{
    flex-basis: auto;
    background-color: #ffe;
}
.flexbox4 .card{
    flex-basis: calc(900px - 100%);
    flex-grow: 1;
    flex-shrink: 1;
}
.flexbox5 .card{
    flex-basis: calc(calc(768px - 100%) * 100000);
    flex-grow: 1;
    flex-shrink: 1;
}

.flexbox6 .item:nth-child(3){
    flex-basis: 1000px;
    flex-shrink: 10;
}
