
  img[alt~="이벤트"]{
    border: 2px solid #a00;
  }
  span[class~="first-letter"]{
    font-size: 2em;
  }

div[class|="header"]{
    color: #0a0;
}
div[class|="title"]{
    color: #00a;
}
a[href^="http://" i]:hover::after{
    content: ' (' attr(href) ') ';
    position: absolute;
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 2px 5px;
    left: 2em;
    top: 2em;
}

div[class*="navmenu" i]{
    color: #a00;
}
ul[id="nav" i]{
    color: #0a0;
}

p[class="red"][title="새글"]{
    font-size: 5em;
}