html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

/*메뉴 영역*/
.nav{
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #fee;
}
/*메뉴 목록*/
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
}
/*메뉴 아이템*/
.menu li{
    text-align: center;
}
/*홈 메뉴 분할*/

.menu li:nth-child(1){
    margin-right: auto;
}
.menu li:nth-child(4){
    margin-right: auto;
}
/*
.menu li:nth-child(4){
    margin-right: auto;
}
.menu li:nth-child(6){
    margin-right: auto;
}
*/
/*하이퍼링크 처리*/
.menu li a{
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    letter-spacing: -1px;
    color: #000;
}

/*왼쪽 메뉴 마우스 호버*/
.menu li:hover{
    border-bottom: 2px solid #f66;
}
