html, body{

    /*margin: 0;
    padding: 0;*/

}
.coloring{box-sizing: border-box;/* margin: 0 auto;*/} 
.coloring .item{background-color: blue; text-align: center;}
.coloring .item:nth-child(7n+1){background-color:lightblue;}
.coloring .item:nth-child(7n+2){background-color:orange;}
.coloring .item:nth-child(7n+3){background-color:darkgray;}
.coloring .item:nth-child(7n+4){background-color:coral;}
.coloring .item:nth-child(7n+5){background-color:pink;}
.coloring .item:nth-child(7n+6){background-color:khaki;}
.coloring .item:nth-child(7n+7){background-color:lightslategray;}
.spacer{
    flex-basis: 100%;
    height: 0;
}

.grid{
    max-width: 900px;
    display: grid;
    padding: 10px;
    box-sizing: border-box;
    /*그리드 컬럼 정의 예들*/
    grid-template-columns: 180px repeat(auto-fit, minmax(250px, 1fr));
    /*grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));*/
    /*grid-template-columns: 150px repeat(3, 1fr) 120px;*/
    /*grid-template-columns: repeat(3,minmax(50%, 100%));*/
    /*grid-template-columns: 300px minmax(50%, 100%);*/
    gap: 10px;
/*    margin: 0 auto;*/
    background-color: #f0f0f0;
}
.grid .item{
    background-color: #a99;
    min-height: 80px;
}